{% extends 'layout.html' %}

{% block content %}
    <main id="credential">
        <div id="auth-formwrapper" class="formwrapper">
            <h1 id="auth-title" class="title">{{ title }}</h1>
            <form method="POST" action="{{ handler_url }}">
                {{ form.csrf_token }}
                <div id="username-form-field" class="form-field">{{ form.username.label }} {{ form.username }}
                    {% if form.username.errors or username_error_msg is not none %}
                    <ul id="username-errors" class="errors">
                        {% if unique_username_error is not none %}
                            <li>{{ username_error_msg }}</li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            {% set error_msg = error.split("\n") %}
                            {% for msg in error_msg %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div id="password-form-field" class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors or password_error_msg is not none %}
                    <ul id="password-errors" class="errors">
                        {% if password_error_msg is not none %}
                            <li>{{ password_error_msg }}</li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            {% set error_msg = error.split("\n") %}
                            {% for msg in error_msg %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {{ form.submit }}
            </form>
        </div>
    </main>
{% endblock %}