<aside>
    <p id="aside-title" class="title">A2 Movies</p>
    <img src="{{ url_for('static', filename='images/logo.jpg') }}"  alt="nav_logo" id="logo"/>
    <div id="aside-btns">
        <a id="movie-home-btn" class="aside-btn" href="{{ url_for('home_bp.home') }}">Movie home</a>
        <a id="movie-list-btn" class="aside-btn" href="{{ url_for('movie_bp.movie') }}">List of Movies</a>
        {% if 'username' not in session %}
            <a id="movie-register-btn" class="aside-btn" href="{{ url_for('auth_bp.register') }}">Register</a>
            <a id="movie-login-btn" class="aside-btn" href="{{ url_for('auth_bp.login') }}">Login</a>
        {% else %}
            <a id="movie-logout-btn" class="aside-btn" href="{{ url_for('auth_bp.logout') }}">Logout</a>
        {% endif %}
    </div>
</aside>